b.sh
randNum.py
__pycache__/*
test.py
.vscode/*
start*.sh
pi_test.png
test.png
test2.png
pi_test2.png
cam.py
remove.sh
image*.png
a.out
fun.py
libfun.so
libspeck.so
auth.config
ui.py
data_*/
server_auth.config
server_name.config
