{
  "camera": {
    "program_name": "cam.py",
    "program_path": "Demo/cam.py",
    "script_name": "startScript.sh",
    "script_path": "Demo/startScript.sh"
  },
  "random": {
    "program_name": "randNum.py",
    "program_path": "Demo/randNum.py",
    "script_name": "startScript_randNum.sh",
    "script_path": "Demo/startScript_randNum.sh"
  },
  "file": {
    "program_name": "file.py",
    "program_path": "Demo/file.py",
    "script_name": "startScript_file.sh",
    "script_path": "Demo/startScript_file.sh"
  }
}
